/* Resetování výchozích stylů prohlížeče */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Základní styly pro tělo stránky */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Styly pro profilový kontejner */
.profile-container {
    position: relative;
    display: inline-block;
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile img {
    max-width: 350px;
    max-height: 350px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #444;
}

.profile-container:hover .dropdown-content {
    display: block;
}

/* Kontejner pro obsah stránky */
.container {
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
    text-align: left;
}

/* Upravené styly pro file-box-container */
.file-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around; /* Upraveno na space-around pro rovnoměrný odstup z levé i pravé strany */
}

/* Upravené styly pro file-box */
.file-box {
    position: relative;
    width: 353px;
    height: 445px;
    overflow: hidden;
    border: 1px solid #fda541;
    border-radius: 10px;
    background-color: #333;
    box-sizing: border-box;
    margin: 35px; /* Upraveno na 10px pro stejný odstup ze všech stran */
    display: flex;
    flex-direction: column;
}

.file-box img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.file-box p {
    color: #fda541;
}

/* Upravené styly pro player-box */
.player-box {
    width: 895px;
    height: 503px;
    overflow: hidden;
    border: 1px solid #fda541;
    border-radius: 10px;
    background-color: #333;
    box-sizing: border-box;
    margin: 10px; /* Upraveno na 10px pro stejný odstup ze všech stran */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Přizpůsobení pro mobilní zařízení */
@media only screen and (max-width: 600px) {
.player-box {
    width: 100%;
    height: auto;
    margin: 10px 0; /* Adjusted margin for spacing */
  }

}

.player-box img,
.player-box audio {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio and fit content within the box */

}